@charset "utf-8";

/* 영화상세 */
.movie-detail-wrap{
    padding-top: 100px;
    padding-bottom: 150px;
}
.movie-detail{
    overflow: hidden;
}
.movie-detail-img{
    float: left;
}
.movie-detail-info{
    float: left;
    margin-left:30px;
    margin-top: -10px;
}
.info-title{
    font-size: 28px;
}
.info-data{
    margin-top: 30px;
    font-size: 16px;
}
.info-data em{
    margin-right: 10px;
    font-weight: bold;
    color: #231f20;
}
.num{
    display: inline-block;
    padding-top: 10px;
    font-family: 'linlivertine';
    vertical-align: top;
    margin-top: -25px;
    color: #231f20;
    font-size: 32px;
    font-style: italic;
    font-weight: bold
}
.data-movie li{
    margin-top:10px;
}
.ticketing-btn{
    display: inline-block;
    padding: 10px 30px;
    margin-top: 55px;
    color: #fff;
    font-size:20px;
    font-weight: 600;
    text-align: center;
    background: #17181A;
}
/* 줄거리 */
.movie-summary-area{
    margin-top: 60px;
}
.summary-title{
    margin: 20px 0;
    font-size: 22px;
    color: #231f20;
}
.movie-summary{
    font-size: 14px;
    color: #666;
    line-height: 22px;
}
/* 평점 */
.review-wrap{
    margin-top: 50px;
}
.review-title, .review-etc {
    display: inline-block;
}
.review-title{
    margin-right: 10px;
    font-size: 22px;
    color: #231f20;
}
.review-etc{
    font-size: 14px;
    color: #666;
}
/* 리뷰 댓글결과  */
.review-content li{
    display: table;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.review-box, .review-name{
    display: table-cell;
    vertical-align: middle;
}
.review-box{
    padding: 30px 30px 30px 0px;
}
.review-name{
    position: relative;
    width: 15%;
    text-align: center;
    font-size: 14px;
}
.review-name::before{
    position: absolute;
    top: 25%;
    left: 0;
    display: inline-block;
    content: "";
    width: 1px;
    height: 50%;
    background: #ccc;
}
.result-score{
    margin-bottom: 14px;

}
.review-text-reulst{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    word-break: break-all;
}
.review-date{
}