<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace ="com.acorn.mapper.MemberMapper">
  
  	   
     <!--ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ  CRUD  ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
	              
	  <select id="getTime" resultType="string">  	
	     select now()
	  </select>
	  
	  <insert id="insertMember"  parameterType="com.acorn.domain.MemberVo">
	      insert into corn_movie.member (
	        id, password, name, phone, email
	      ) values(
	       #{id}, #{password}, #{name}, #{phone}, #{email}
	       )
	   </insert>
	   
	   
	<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡlogin Checkㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ  -->
		   
	 <select id="login" resultType="com.acorn.domain.MemberVo">    <!-- resultType -> UserVO 풀패키지명 -->
  
      SELECT * FROM member WHERE id= #{id} and password = #{password}
                 <!-- #{자바빈 객체의 프로퍼티 이름}  --> 
  </select>
	   
	   
	   
	
  
  
  
  </mapper>