<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace ="com.acorn.mapper.MemberMapper">
  
  	   
  <!--ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ  CRUD  ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
 	
  
	   
	<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡinsert Memberㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ  -->
	
	  
	  <insert id="insertMember"  parameterType="com.acorn.domain.MemberVo">
	      insert into corn_movie.tbl_member (
	        id, password, name, phone, email
	      ) values(
	       #{id}, #{password}, #{name}, #{phone}, #{email}
	       )
	   </insert>
	   
	   
	   
    <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡupdate Memberㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ  -->   
	   
	<update id="updateProfile">
	   update tbl_member set
       password = #{password}, 
       phone = #{phone}, 
       email = #{email},
       updatedate = now()
       WHERE id =#{id}          
    </update>
	   


    <!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡdelete Memberㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ  -->   

   <delete id="deleteProfile">

   DELETE FROM tbl_member WHERE id = #{id};

   </delete>

	   
	   
	<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡlogin Checkㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ  -->
		   
	 <select id="login" resultType="com.acorn.domain.MemberVo">    <!-- resultType -> UserVO 풀패키지명 -->
  
      SELECT * FROM tbl_member WHERE id= #{id} and password = #{password}
          
     </select>
	   

  </mapper>