<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace = "com.acorn.mapper.MovieScreeningMapper">
  
	<resultMap id="MovieResult" type="com.acorn.domain.MovieScreeningVO">
	
		<id property="movie_num" column="movie_num"/>  
		<result property="title" column="title"/>
		<result property="opening_day" column="opening_day"/>
		<result property="film_rate" column="film_rate"/>
		<result property="running_time" column="running_time"/>
		<result property="avg_score" column="avg_score"/>
		
		<collection property="viewvo" column="movie_num" javaType="java.util.ArrayList" ofType="com.acorn.domain.ViewVO" select="getViewList"/>
	</resultMap>
	
	 <select id="movieList" resultMap="MovieResult">
	    SELECT 
		    movie_num, 
		    title,
		    opening_day,
		    film_rate, 
		    running_time, 
		    avg_score
	    FROM 
	    	tbl_Movie 
	    ORDER BY 
	    	opening_day desc
	</select> 
	
	<select id="getViewList" resultType="com.acorn.domain.ViewVO">
	    SELECT 
		    movie_num, 
		    view_path 
	    FROM 
	    	tbl_view
	     WHERE 
	     	movie_num = #{movie_num}
	</select>

 </mapper>